<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="main" connectionString="Data Source=.;Initial Catalog=ZipCodeData;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="GeoLib.Services.GeoManager">
        <!--
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>-->
        <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding" contract="GeoLib.Contracts.IGeoService"></endpoint>
        <!--<endpoint address="http://localhost/GeoService" binding="basicHttpBinding" contract="GeoLib.Contracts.IGeoService"></endpoint>-->
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:00:05" maxReceivedMessageSize="2000000" receiveTimeout="00:00:05">
          <reliableSession inactivityTimeout="00:00:05" ordered="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <!--
    <behaviors>
      <serviceBehaviors>
        <behavior name="beh1">
          <serviceThrottling maxConcurrentSessions="100" 
                             maxConcurrentCalls="16"
                             maxConcurrentInstances="116"
                             />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
  </system.serviceModel>
</configuration>
